body {
    section {
        .navbar {
            background-color: black;
            display: flex;
            height: 141px;
            color: white;

            .center {
                ul {
                    display: flex;
                    margin-left: 240px;
                    margin-top: 42px;

                    li {
                        list-style: none;
                        margin-left: 110px;
                        font-size: 15px;
                        margin-top: 20px;
                    }
                }
            }

            .navbarright {
                nav {

                    margin-top: 35px;
                    margin-left: 61px;

                    img {
                        height: 30px;
                    }
                }
            }

            nav {
                padding-left: 5%;
                padding-top: 25px;

                // button {
                //     background-image: -webkit-linear-gradient(120deg, #505add 0%, #df42b1 100%);
                //     background: #df42b1;
                //     color: white;
                //     font-size: 18px;
                //     border-radius: 90px;
                //     width: 204px;
                //     height: 64px;
                //     margin-top: -7px;
                //     margin-right: 50px;
                // }
            }
        }
    }
}

.interestingbutton{
    position: relative;
    
        color: white;  
        font-size: 18px;
        border-radius: 90px;
        width: 204px;
        height: 64px;
        margin-top: -7px;
        margin-right: 50px;
        z-index: 1;
        overflow: hidden;
        transition: 0.6s;

}



.interestingbutton:hover {

color: black !important ;
}
.interestingbutton:hover::before{
left: 110% !important;


}


.interestingbutton::before{
content: '';
background-image: -webkit-linear-gradient(120deg, #505add 0%, #df42b1 100%);
background: #df42b1;
position: absolute;
height: 64px;
left: -10%;
bottom: 0;
left: 0;
width: 120%;
z-index: -1;
transition: 0.6s;




}







