body{
    section{
        .navbar{
            background-color: black;
            display: flex;
            height: 111px;
            color: white;
            .center{
                ul{
                    display: flex;
                    
                    li{
                        list-style: none ;
                        margin-left: 50px;
                        font-size: 20px;
                        margin-top: 20px;
                   }
                }
            }
            .navbarright{
                nav{

                    margin-top: 35px;
                    margin-left: 61px;
                    img{
                        height: 30px;
                    }
                }
            }
          nav{
            padding-left: 37%;
            padding-top: 25px;
            button{
                background-image: -webkit-linear-gradient(120deg, #505add 0%, #df42b1 100%);
                background: #df42b1;
    color: white;
    font-size: 25px;
    border-radius: 10px;
}
            }
        }
          }
        }
    
