body section .navbar {
  background-color: black;
  display: flex;
  height: 141px;
  color: white;
}
body section .navbar .center ul {
  display: flex;
  margin-left: 240px;
  margin-top: 42px;
}
body section .navbar .center ul li {
  list-style: none;
  margin-left: 110px;
  font-size: 15px;
  margin-top: 20px;
}
body section .navbar .navbarright nav {
  margin-top: 35px;
  margin-left: 61px;
}
body section .navbar .navbarright nav img {
  height: 30px;
}
body section .navbar nav {
  padding-left: 5%;
  padding-top: 25px;
}

.interestingbutton {
  position: relative;
  color: white;
  font-size: 18px;
  border-radius: 90px;
  width: 204px;
  height: 64px;
  margin-top: -7px;
  margin-right: 50px;
  z-index: 1;
  overflow: hidden;
  transition: 0.6s;
}

.interestingbutton:hover {
  color: black !important;
}

.interestingbutton:hover::before {
  left: 110% !important;
}

.interestingbutton::before {
  content: "";
  background-image: -webkit-linear-gradient(120deg, #505add 0%, #df42b1 100%);
  background: #df42b1;
  position: absolute;
  height: 64px;
  left: -10%;
  bottom: 0;
  left: 0;
  width: 120%;
  z-index: -1;
  transition: 0.6s;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.text h1 {
  font-size: 90px;
  margin-left: 626px;
  color: white;
  margin-top: -100px;
  z-index: 1;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.slideshow .button a {
  border-radius: 50%;
  border: 1px solid white;
}

.slideshow .button a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.pagetwo {
  height: 890px;
  background-color: #151853;
  margin-top: -20px;
  padding-top: 57px;
}
.pagetwo .writing {
  margin-left: 350px;
  width: 595px;
}
.pagetwo .writing h6 {
  font-size: 14px;
  color: #df42b1;
}
.pagetwo .writing h1 {
  font-size: 20px;
  color: white;
  width: 300px;
}
.pagetwo .writing h5 {
  letter-spacing: 1px;
  color: #df42b1;
  border-bottom: 2px solid #4b4d7b;
  padding-bottom: 5px;
  font-size: 14px;
  display: inline-block;
  text-transform: uppercase;
}
.pagetwo .writing h2 {
  font-size: 40px;
  color: white;
  margin-top: 20px;
}
.pagetwo .writing h4 {
  line-height: 1.8;
  font-size: 16px;
  color: white;
}
.pagetwo .writing img {
  margin-left: 800px;
  margin-top: -394px;
}
.pagetwo .writing .interesting-button {
  position: relative;
  color: white;
  font-size: 18px;
  border-radius: 90px;
  width: 204px;
  height: 64px;
  margin-top: -7px;
  margin-right: 50px;
  z-index: 1;
  overflow: hidden;
  transition: 0.6s;
}

.interesting-button:hover {
  color: black !important;
}

.interesting-button:hover::before {
  left: 110% !important;
}

.interesting-button::before {
  content: "";
  background-image: -webkit-linear-gradient(120deg, #505add 0%, #df42b1 100%);
  background: #df42b1;
  position: absolute;
  height: 64px;
  left: -10%;
  bottom: 0;
  left: 0;
  width: 120%;
  z-index: -1;
  transition: 0.6s;
}

.boxes {
  display: flex;
  margin-top: -113px;
  margin-left: 293px;
  width: 1000px;
}
.boxes .box {
  border: 1px solid;
  margin: 0px 15px;
  width: 170px;
}
.boxes .box h2 {
  text-align: center;
  font-size: 62px;
}
.boxes .box h3 {
  margin-top: 5px;
  font-size: 18px;
  color: #5d5e8d;
  font-weight: 500;
  display: block;
  text-align: center;
}

.pagetree {
  height: 1700px;
  background-color: #df42b1;
  margin-top: -20px;
}
.pagetree .texts {
  text-align: center;
  padding-top: 150px;
  color: #ffffff;
}
.pagetree .texts h1 {
  font-size: 38px;
}
.pagetree .cards {
  display: flex;
}
.pagetree .cards .card {
  margin-left: 100px;
}
.pagetree .cards .card img {
  border-radius: 10px;
}
.pagetree .cards .card .about {
  margin-top: -140px;
  margin-left: 48px;
}
.pagetree .cards .card .about h5 {
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.pagetree .cards .card .about p {
  margin-top: -5px;
  color: #df42b1;
  letter-spacing: 1px;
  line-height: 1;
  font-size: 20px;
  font-weight: 400;
}
.pagetree .cardss {
  display: flex;
  margin-top: 50px;
}
.pagetree .cardss .cardtwo {
  border-radius: 10px;
  margin-left: 100px;
}
.pagetree .cardss .cardtwo img {
  border-radius: 10px;
}
.pagetree .cardss .cardtwo .writings {
  margin-top: -200px;
  margin-left: 20px;
}
.pagetree .cardss .cardtwo .writings h5 {
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.pagetree .cardss .cardtwo .writings p {
  margin-top: -5px;
  color: #df42b1;
  letter-spacing: 1px;
  line-height: 1;
  font-size: 20px;
  font-weight: 400;
}
.pagetree .viewall {
  margin-top: 180px !important;
  margin-left: 50%;
}
.pagetree .viewall {
  position: relative;
  color: white;
  font-size: 18px;
  border-radius: 90px;
  width: 204px;
  height: 64px;
  margin-top: -7px;
  margin-right: 50px;
  z-index: 1;
  overflow: hidden;
  transition: 0.6s;
}

.viewall:hover {
  color: black !important;
}

.interesting-button:hover::before {
  left: 110% !important;
}

.viewall::before {
  content: "";
  background-image: -webkit-linear-gradient(120deg, #505add 0%, #df42b1 100%);
  background: #df42b1;
  position: absolute;
  height: 64px;
  left: -10%;
  bottom: 0;
  left: 0;
  width: 120%;
  z-index: -1;
  transition: 0.6s;
}

.ourtimetable {
  background-color: #151853;
}
.ourtimetable .weeks {
  display: flex;
  margin-left: 37%;
}
.ourtimetable .weeks .week {
  background-color: #1f2371 !important;
  border: 5px solid black;
  margin-left: 30px;
}/*# sourceMappingURL=style.css.map */